
.header {
    
    background-color: white;
    padding: 10px;
    text-align: center;
    
}

.nav {
    background-color: #f5c425;
    overflow: hidden;

}

.nav a {
    float:left;
    display:block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 21px;
    
    
}


body {
background-image: url(test.jpg);
background-repeat: no-repeat;
background-size: cover;
background: center fixed;
background-color: #e35e52;
color: #3b040c;
font-family: "Tahoma";
font-size: 17px;
}

#me {
    
    float: right;
}

#bg {

       
}
